[submodule "ObjectiveFlickr"]
	path = ObjectiveFlickr
	url = g://github.com/illumineX/objectiveflickr
	fetchRecurseSubmodules = true
[submodule "XPCKit"]
	path = XPCKit
	url = https://github.com/illumineX/XPCKit
	fetchRecurseSubmodules = true
[submodule "PhFacebook"]
	path = PhFacebook
	url = https://github.com/illumineX/PhFacebook
	fetchRecurseSubmodules = true
